*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* % from default value 16px now the default value is 10px an I can easy work with rems*/ }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #757575;
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    opacity: 0.8;
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    opacity: 0.8;
    transform: translateX(-5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* important if animation is shaking*/
  margin-bottom: 1rem; }
  .heading-primary--main {
    display: block;
    font-size: 7.5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* animation-delay: 1s;
      animation-iteration-count: 3;
      */ }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.7rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  transition: all 0.2s;
  /* This lines alow to change text color to linear-gradient*/
  display: inline-block;
  background-image: linear-gradient(to left, #0b5575, #16aae9);
  -webkit-background-clip: text;
  color: transparent; }
  .heading-secondary:hover {
    transform: skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.226); }

.btn--white {
  background-color: #fff;
  color: var(--mainText); }
  .btn--white::after {
    background-color: white; }

.btn--blue {
  background-color: #a2ddf6;
  color: #fff; }
  .btn--blue::after {
    background-color: #a2ddf6; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #16aae9;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #16aae9;
  padding: 0.3rem;
  transition: all 0.2s; }

.btn-text:hover {
  color: #fff;
  background-color: #16aae9;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  transform: translateY(0); }

.btn-text--white:link, .btn-text--white:visited {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #fff;
  padding: 0.3rem;
  transition: all 0.2s; }

.btn-text--white:hover {
  color: #16aae9;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translateY(-0.2rem); }

.btn-text--white:active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    backface-visibility: hidden; }
    .card__side--front {
      background-image: linear-gradient(to right bottom, rgba(162, 221, 246, 0.8), rgba(22, 170, 233, 0.8)); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #fcb92a, #ff8901); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #a2ddf6, #16aae9); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #75fd53, #1e8b03); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(100% 0, 100% 77%, 75% 100%, 40% 88%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 77%, 75% 100%, 40% 88%, 0 100%, 0 0); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #fcb92a, #ff8901), url(../img/tour-1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #a2ddf6, #16aae9), url(../img/tour-2.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #75fd53, #1e8b03), url(../img/tour-3.jpg); }
  .card__heading {
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: right;
    position: absolute;
    top: 15rem;
    right: 3rem;
    width: 50%;
    color: #fff; }
  .card__heading--span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading--span--1 {
      background: linear-gradient(to right bottom, rgba(252, 185, 42, 0.9), rgba(255, 137, 1, 0.9)); }
    .card__heading--span--2 {
      background: linear-gradient(to right bottom, rgba(162, 221, 246, 0.9), rgba(22, 170, 233, 0.9)); }
    .card__heading--span--3 {
      background: linear-gradient(to right bottom, rgba(117, 253, 83, 0.9), rgba(30, 139, 3, 0.9)); }
  .card__details {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 3rem; }
    .card__details ul {
      list-style: none;
      margin: 0 auto;
      text-align: left;
      width: 70%; }
      .card__details ul li {
        padding-bottom: 0.8rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.01rem solid #f0ecec; }
        .card__details ul li span {
          color: rgba(22, 170, 233, 0.7); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.1);
    clip-path: polygon(50% 0%, 100% 11%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 0 10%); }
  .card__price--box {
    margin-top: 2rem;
    text-align: center;
    color: #fff; }
  .card__price--only {
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 300; }
  .card__price--value {
    font-size: 5rem;
    font-weight: 100;
    margin-bottom: 5rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: 0.5s ease-in-out;
    outline-offset: 1.5rem; }
    .composition__photo:hover {
      transform: scale(1.5) translateY(-0.5rem);
      z-index: 10;
      outline: 1rem solid #16aae9;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4); }
      .composition__photo:hover--p1 {
        left: 0;
        top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 5rem;
      top: 15rem; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.featured-box {
  min-height: 31rem;
  margin-top: 3rem;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.4rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  transition: ease-in-out 0.4s; }
  .featured-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to left, #0b5575, #16aae9);
    -webkit-background-clip: text;
    color: transparent; }
  .featured-box__text {
    font-size: 1.2rem; }
  .featured-box:hover {
    transform: scale(1.03) translateY(-1.5rem);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6); }

.story {
  width: 75%;
  padding: 3rem 6rem;
  margin: 3rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden; }
  .story__image {
    height: 100%;
    transition: all 0.5s;
    transform: translateX(-4rem) scale(1.2);
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transition: ease-in 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: scale(1);
    filter: blur(3px) brightness(60%); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(162, 221, 246, 0.8), rgba(22, 170, 233, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
  /*alow to shape elements*/ }
  .header__logo-box {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem; }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* this property alow me to scalls element in centre*/ }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem) * 2) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - (6rem) * 2) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem) * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - (6rem) * 3) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc(((100% - (6rem) * 3) / 4) * 3 + (6rem) * 2); }

.section-about {
  background-color: #f0ecec;
  padding: 25rem 0;
  margin-top: -25rem;
  font-weight: 700; }

.section-features {
  margin-top: -22rem;
  padding: 20rem 0;
  height: 110vh;
  background-image: linear-gradient(to right bottom, rgba(162, 221, 246, 0.8), rgba(22, 170, 233, 0.8)), url(../img/secondary-hero.jpg);
  background-size: cover;
  background-position: bottom;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  /*alow to shape elements*/ }

.section-tours {
  height: 170vh;
  background-color: #f0ecec;
  padding: 25rem 0;
  margin-top: -25rem;
  font-weight: 700; }

.section-stories {
  margin-top: -23rem;
  padding: 20rem 0;
  height: 150vh;
  background-image: linear-gradient(to right bottom, rgba(162, 221, 246, 0.8), rgba(22, 170, 233, 0.8)), url(../img/hero-3.jpg);
  background-size: cover;
  background-position: bottom;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  /*alow to shape elements*/ }
