// Colors
$light-blue: #a2ddf6;
$medium-blue: #16aae9;
$dark-blue: #0b5575;
$main-text: #757575;
$main-black: #000;
$main-light: #fff;
$color-grey-light-1: #f0ecec;

$secondary-orange-light: rgb(252, 185, 42);
$secondary-orange-dark: rgb(255, 137, 1);
$secondary-green-light: rgb(117, 253, 83);
$secondary-green-dark: rgb(30, 139, 3);
// Font
$default-font-size: 1.6rem;
// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
